# Folders
Output/
Ready-images/
dist/
build/
.vscode/
Languages/__pycache__/


# Files
"create\ app.bat"
"requirements.txt"
"test.py"
"Update-Handler.py"
.vscode/settings.json
Optica.spec
Languages/__pycache__/Languages_packs.cpython-310.pyc
Necessary\ files/config.ini
error_log.txt
