# Folders
Output/
Ready-images/
dist/
build/
Languages/__pycache__/
.vscode/
Languages/__pycache__/
Optica-project/.vscode/

# Files
"create\ app.bat"
"requirements.txt"
"test.py"
"Update-Handler.py"
.vscode/settings.json
Optica.spec
Languages/__pycache__/Languages_packs.cpython-310.pyc
Necessary\ files/config.ini
error_log.txt
Languages/__pycache__/Languages_packs.cpython-310.pyc
/Languages
/Languages/__pycache__
Optica
config.ini
