opencv-contrib-python==4.6.0.66
tkinter-tooltip==2.1.0
tk-tools==0.16.0
customtkinter==4.6.3
Pillow==9.2.0
discord-webhook==0.16.3
numpy==1.23.1
DateTime==4.5
win10toast==0.9
configparser==5.3.0
screeninfo==0.8.1
mediapipe==0.8.11